@model IEnumerable<EntityFrameworkMVC.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillToAddressID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipToAddressID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipDate)
        </td>
        <td>
            @item.Customer.FirstName @item.Customer.LastName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillToAddressID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipToAddressID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxAmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
